{% extends "base.html" %}
{% block content %}


<!-- <h3 class="light-blue-text text-darken-4 center-align">MS3 Cocktails</h3> -->

<div class="hero-image">
  <div class="hero-text">
    <h1>The Cocktail Cabinet</h1>
    <p>Share a Drink With Us</p>
    {% if session.user %}
      <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small green accent-4">My Cabinet</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="btn-small green accent-4">Log In</a>
    {% endif %}
  </div>
</div>

<section class="house-section">
  <!-- <h2 id="house-heading">House Rules?</h2> -->
  <div class="house-container">
    <ul>
      <li>
        <a href="{{ url_for('all_cocktails') }}">
          <img class="hoverable" src="../static/images/bar.jpg" alt="Image of an empty drinks bar">
        </a>
        <h4>Head to The Bar</h4>
        <hr>
        <p>See anything you like at The Bar? Add it to My Cabinet, or mix your own cocktai?</p>
      </li>
      <li>
        <img class="hoverable" src="../static/images/bar.jpg" alt="Image of an empty drinks bar">
        <h4 id="#middle-title">
          {% if session.user  %}
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small green accent-4">My Cabinet</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="btn-large green accent-4">Log In / Register</a>
          {% endif %}
        </h4>
        <!-- <hr> -->
        <!-- <p>"See anything you like at The Bar? Add it to My Cabinet, or mix your own cocktai?"</p> -->
        <!-- <div id="middle-title">
          <h4>Thirsty?</h4>
          <hr>
          {% if session.user  %}
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small green accent-4">My Cabinet</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="btn-large green accent-4">Log In / Register</a>
          {% endif %}
        </div> -->
      </li>
      <li>
        {% if session.user  %}
          <a href="{{ url_for('profile', username=session['user']) }}">
            <img class="hoverable" src="../static/images/shake.jpg" alt="Image of a cocktail being mixed">
          </a>
        {% else %}
          <a href="{{ url_for('login') }}">
            <img class="hoverable" src="../static/images/shake.jpg" alt="Image of a cocktail being mixed">
          </a>
        {% endif %}
        <!-- <img src="../static/images/shake.jpg" alt="Image of a cocktail being mixed"> -->
        <h4>Share your own Cocktail</h4>
        <hr>
        <p>Feel The Bar is missing your preferred cocktail? Mix your own and add it to My Cabinet.</p>
      </li>
      <!-- <li>
        <img src="../static/images/bar.jpg" alt="Image of a group of people sharing drinks">
        <h4>Share your Cocktail</h4>
        <hr>
        <p>See anything you like at The Bar? Add it to My Cabinet, or mix your own cocktai?</p>
      </li> -->
    </ul>
  </div>
</section>

<!-- Carousel -->
<section id="carousel-section">
  <div class="carousel">
    {% for category in categories %}
      <a class="carousel-item" href="{{ url_for('filter_category', category_id=category.id) }}">
        <img src="../static/images/whiskey_sour.jpg" alt="picture of a cocktail" style="width:100%">
        <div class="text">{{ category.category_name }}</div>
      </a>
    {% endfor %}
  </div>
</section>

<!-- <section id="subscribe-section">
  <div class="subscribe-container">
      <form action="https://formdump.codeinstitute.net" method="POST">
        <fieldset>
          <div>
            <label>
              <input type="email" name="email" placeholder="ENTER YOUR EMAIL" required="">
            </label>
          </div>
        </fieldset>
          <button class="button-sub" type="submit">
            <strong>Subscribe</strong>
          </button>
      </form>
  </div>
</section> -->



{% endblock %}