{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipes.cocktail_name }}<br>
        {{ recipes.category_name }}<br>
        {{ recipes.cocktail_img }}<br>
        {{ recipes.cocktail_description }}<br>
        {{ recipes.created_by }}<br>
        {{ recipes.main_ingredient }}<br>
        {{ recipes.method }}<br>
        {{ recipes.other_ingredients }}<br>
        {{ recipes.prep_time }}<br>
        {{ recipes.servings }}<br>
    {% endfor %}

{% endblock %}